<!DOCTYPE html>
<html>

<head>
	<%- include('./head.ejs') %>
		<link rel="stylesheet" href="stylesheets/style.css" type="text/css">
		<title>Login Form</title>
</head>

<body>
	<div class="login">
		<h1>Student Login</h1>
		<form action="/checkLogin" method="post">
			<div class="txt_field">
				<input type="text" name="bid" id="bid" required>
				<span></span>
				<label>bid</label>
			</div>
			<div class="txt_field">

				<input type="password" name="password" id="password" required>
				<span></span>
				<label>password</label>
			</div>
			<input type="submit" value="Login">
		</form>
		<% if (errMsg==='success' ) { %>
			<h4 style="color:green; font-size:70%;">
				<p>Voilaa login successful </p>
			</h4>
			<% } else if(errMsg==='failure' ){%>
				<h4 style="color:red; font-size:70%;">
					<p>yes you forgot again! </p>
				</h4>
				<% } %>
	</div>
</body>

</html>