<!DOCTYPE html>
<html>

<head>
    <%- include('./head.ejs') %>
    <title>Admin Form</title>
</head>
9ol
<body>
    <form method="POST" name="form2" action="/postComment">
        <div>
            Comment:<input type="'text" name="comment">
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>



    </div>
</body>

</html>